^ContentPage {
    background-color: #0faf68;
}

#LoginLogo {
    margin-top: 100;
}

#LoginBrand {
    margin-bottom: 50;
}

#LoginMail,
#LoginPassword {
    margin-left: 50;
    margin-right: 50;
}

#LoginButton {
    margin-left: 50;
    margin-right: 50;
}
